<div *ngIf="urunEklendi" class="container mb-0 alert alert-success text-center">
  Ürününüz başarıyla sepete eklendi!
</div>

<div *ngFor="let urun of urunler; let i = index" class="card" style="width: 18rem">

  <img class="card-img-top" [src]="urun.fotoURL"/>

  <div class="card-body">

    <h5 class="card-title">{{urun.urunAdi}}</h5>
    <h6 class="card-title">₺ {{urun.fiyat | number: '1.2-2'}}</h6>
    <div style="display: flex; align-items: center;">
      Adet:
      <input class="form-control" type="number" [(ngModel)] = "urun.miktar"  style="flex: 1; width: 70px; margin-right: 10px; margin-left: 10px;" />
        <button (click)="sepeteEkle(i)" class="btn btn-primary ml-2">Sepete ekle</button>
    </div>
  </div>
</div>